
@font-face {
  font-family: 'FormataBQ';
  src: url('../fonts/FormataBQ-Regular.otf');
  src: url('../fonts/FormataBQ-Light.otf');
}

html, body, header, article, section, footer, h1, h2, h3, p{
    padding: 0;
    margin: 0;
}

body{
  font-family: 'FormataBQ', sans-serif;
  font-size: 62.5%;

}

 *{
  text-decoration: none;
  list-style-type: none;;
}

a{
  color:black;
}

li,ul{
    padding: 0;
    margin: 0;
}
